<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tansiky</title>
    <style>
        input {
            width: 100%;
            margin: auto;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Tansiky</h1>
    <form action="/tansiky" method="post">
        <input type="text" name="grade" id="grade">
        <input type="submit" value="Tansiky" name="" id="">
    </form>
</body>
</html>